@font-face {
    font-family: 'October Crow';
    src: url('assets/fonts/October Crow.ttf') format('truetype');
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #0F0F0F 23.37%, rgba(15, 15, 15, 0) 100%), url('assets/imgs/planoDfundo.svg');
    background-repeat: no-repeat;
    margin: 0;
}

h1 {
    margin: 50px;
    font-family: 'October Crow';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 83px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.1em;
    color: #ECC839;
    text-shadow: 0px 0px 8px #FF5B00;
    background-color: transparent;
}


/*Modal */

.modal-content {
    background-color: transparent;
    border: none;
}